- name: install cron job (ansible-pull)
  cron: 
    user: "ansible" 
    name: "ansible provision"
    minute: "*/60" 
    job: "/usr/bin/ansible-pull -o -U https://github.com/NeajT9A/ansible-git-E2C >> ~/ansible.log"
